@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro no sistema";
}

<h1 class="text-danger">Erro no sistema.</h1>
<h2 class="text-danger">Um erro inesperado aconteceu ao realizar a requisição.</h2>
<h2 class="text-danger">Entre em contanto com a equipe de suporte.</h2>