@model Dominio.Modelos.Aluno

@{
    ViewBag.Title = "Página Inicial";
}

@Html.AntiForgeryToken()

<div class="row">
    <h2>Seleção de Matrícula</h2>
    <h3>Aluno: @Model.Nome</h3>
</div>

<div class="row">
    @Html.ActionLink("Sugerir Matrícula", "SugerirMatricula")
</div>