@model Web.Models.AlunoViewModel

@{
    ViewBag.Title = "Página Inicial";
}

@Html.AntiForgeryToken()

<div class="row">
    <h2>Seleção de Matrícula</h2>
    <h3>Aluno: @Model.GetAluno().Nome</h3>
</div>

<hr />

<div class="row">
    <p>Ações: </p>
    @Html.ActionLink("Sugerir Matrícula", "SugerirMatricula", null, new { @class = "btn btn-default" })
    @if (Model.TemGrade)
    {
        @Html.ActionLink("Excluir Sugestão", "ExcluirSugestao", null, new { @class = "btn btn-default" })
    }
</div>

<hr />

<div class="row">
    @if (Model.TemGrade)
    {
        Html.RenderPartial("_GradePartial", Model.GetGrade());
    }
</div>