@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Ariane Figueiredo:</strong> <a href="mailto:ariane.figueiredo@acad.pucrs.br">ariane.figueiredo@acad.pucrs.br</a><br />
    <strong>Giovanni Carlos:</strong> <a href="mailto:giovanni.carlos@acad.pucrs.br">giovanin.carlos@acad.pucrs.br</a><br />
    <strong>Julia Freitas:</strong> <a href="mailto:julia.freitas@acad.pucrs.br">julia.freitas@acad.pucrs.br</a><br />
    <strong>Lucas Cunha:</strong> <a href="mailto:lucas.cunha.005@acad.pucrs.br">lucas.cunha.005@acad.pucrs.br</a>
</address>