@model Web.Models.CoordenadorViewModel

@{
    ViewBag.Title = "Página Inicial";
}

<div class="row">
    <h2>Visão do Coordenador</h2>
    <h3>@Model.Usuario.GetAluno().Nome</h3>
</div>

<hr />

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Matrícula</th>
                <th>Nome</th>
                <th>Tem matrícula?</th>
            </tr>
        </thead>
        @foreach (var aluno in Model.Alunos)
        {
            <tr>
                <td>@aluno.GetAluno().Matricula</td>
                <td>@aluno.GetAluno().Nome</td>
                <td>
                    @if (aluno.TemGrade)
                    {
                        <p>Sim - @Html.ActionLink("ver matricula", "VerMatricula", new { matricula = aluno.GetAluno().Matricula })</p>
                    }
                    else
                    {
                        <p>Não</p>
                    }
                </td>
            </tr>
        }
    </table>
</div>