@{
    ViewBag.Title = "Página Inicial";
}

<div class="row">
    <h2>Seleção de Matrícula - Visão do Coordenador</h2>
</div>

<div class="row">
    <label for="aluno">Selecione o aluno</label>
    <select id="aluno">
        <option value="1">Aluno 1</option>
        <option value="2">Aluno 2</option>
        <option value="3">Aluno 3</option>
    </select>
</div>